name: Process Keywords and ASINs

on:
  workflow_dispatch:
    inputs:
      keyword_list:
        description: "Comma-separated list of Keyword & ASINs"
        required: true

jobs:
  process-keywords:
    runs-on: ubuntu-latest
    container: utydata02/ai-listing-uty:latest
    strategy:
      matrix:
        keywords: ${{ fromJson(github.event.inputs.keyword_list) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install jq
        run: |
          apt-get update
          apt-get install -y jq

      - name: Set up VPN configuration
        run: |
          echo "${{ secrets.VPN_CONFIG }}" | base64 --decode > vpn-config.ovpn
          echo -e "${{ secrets.VPN_USERNAME }}\n${{ secrets.VPN_PASSWORD }}" > vpn-auth.txt

      - name: Connect to VPN
        run: |
          openvpn --config vpn-config.ovpn --auth-user-pass vpn-auth.txt --daemon
          sleep 5  # Wait for the VPN to establish

      - name: Verify VPN connection
        run: curl ifconfig.me

      - name: Process Keywords with Retry
        id: process_keyword_retry
        env:
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: |
          RETRIES=3
          for i in $(seq 1 $RETRIES); do
            echo "Attempt $i"
            output=$(timeout 180s python main_process_data.py ${{ matrix.keywords }}) || status=$?
            if [ $status -eq 0 ]; then
              echo "Attempt $i succeeded."
              break
            else
              echo "Attempt $i failed with status $status. Retrying..."
            fi
            if [ $i -eq $RETRIES ]; then
              echo "All attempts failed."
              exit 1
            fi
          done
          echo "Processing keyword: ${{ matrix.keywords }}"
          echo "Output: $output"
          result=$(echo $output | jq -c '.result')
          asin_subsets=$(echo $output | jq -c '.asin_subsets')
          download_dir=$(echo $output | jq -c '.download_dir')
          echo "::set-output name=driver::$(echo $output | jq -c '.driver')"
          echo "::set-output name=result::$result"
          echo "::set-output name=asin_subsets::$asin_subsets"
          echo "::set-output name=download_dir::$download_dir"

          for i in $(seq 1 $RETRIES); do
            echo "Attempt $i for ASINs"
            output=$(timeout 180s python asin_main_process_data.py "$(echo $output | jq -c '.driver')" "$(echo $output | jq -c '.result')" "$(echo $output | jq -c '.asin_subsets')" "$(echo $output | jq -c '.download_dir')") || status=$?
            if [ $status -eq 0 ]; then
              echo "Attempt $i for ASINs succeeded."
              break
            else
              echo "Attempt $i for ASINs failed with status $status. Retrying..."
            fi
            if [ $i -eq $RETRIES ]; then
              echo "All attempts for ASINs failed."
              exit 1
            fi
          done
