name: Process ASINs

on:
  workflow_dispatch:
    inputs:
      asin_list:
        description: "JSON array of ASINs with id, session_id, and organic_keywords"
        required: true

jobs:
  process-asins:
    runs-on: ubuntu-latest
    container: utydata02/ai-listing-uty:latest
    # strategy:
    #   matrix:
    #     asin: ${{ fromJson(github.event.inputs.asin_list) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up VPN configuration
        run: |
          echo "${{ secrets.VPN_CONFIG }}" | base64 --decode > vpn-config.ovpn
          echo -e "${{ secrets.VPN_USERNAME }}\n${{ secrets.VPN_PASSWORD }}" > vpn-auth.txt

      - name: Connect to VPN
        run: |
          openvpn --config vpn-config.ovpn --auth-user-pass vpn-auth.txt --daemon
          sleep 5  # Wait for the VPN to establish

      - name: Verify VPN connection
        run: curl ifconfig.me

      - name: Process ASIN
        env:
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: |
          asin_list='${{ github.event.inputs.asin_list }}'
          echo "Processing ASIN: ${asin_list}"
          python main_process_data.py "${asin_list}"