name: Process ASINs

on:
  workflow_dispatch:
    inputs:
      asin_list:
        description: "Comma-separated list of ASINs"
        required: true

jobs:
  process-asins:
    runs-on: ubuntu-latest
    container: utydata02/custom-python-chrome:latest
    strategy:
      matrix:
        asin: ${{ fromJson(github.event.inputs.asin_list) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Process ASIN
        run: |
          echo "Processing ASIN: ${{ matrix.asin }}"
          python main_process_data.py ${{ matrix.asin }}
        env:
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
